<component name="libraryTable">
  <library name="logback-core-1.0.12">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-24/filestore/ch.qos.logback/logback-core/1.0.12/jar/590fd33f7c2cfcc1223da4c58c5cb18600de104e/logback-core-1.0.12.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-24/filestore/ch.qos.logback/logback-core/1.0.12/source/f4c48a48962e117c755b8bb0a557fc7b073a2a1c/logback-core-1.0.12-sources.jar!/" />
    </SOURCES>
  </library>
</component>