<component name="libraryTable">
  <library name="spring-aop-3.2.3.RELEASE">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-24/filestore/org.springframework/spring-aop/3.2.3.RELEASE/jar/a70bec95e45a29cad126d250699d0ed0fedfe28a/spring-aop-3.2.3.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-24/filestore/org.springframework/spring-aop/3.2.3.RELEASE/source/5f6558e10e092670a9d42bf86185938535049616/spring-aop-3.2.3.RELEASE-sources.jar!/" />
    </SOURCES>
  </library>
</component>